RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *
 

RewriteRule ^children$ controllers/children/children.php [L]
RewriteRule ^children/([0-9]+)$ controllers/children/children.php?childrenid=$1 [L]
RewriteRule ^children/active/([0-9]+)$ controllers/children/active.php?childrenid=$1 [L]

RewriteRule ^parents$ controllers/parents/parents.php [L]
RewriteRule ^parents/([0-9]+)$ controllers/parents/parents.php?parentsid=$1 [L]
RewriteRule ^parents/active/([0-9]+)$ controllers/parents/active.php?parentsid=$1 [L]

RewriteRule ^departments$ controllers/settings/departments/departments.php [L]
RewriteRule ^departments/([0-9]+)$ controllers/settings/departments/departments.php?departmentsid=$1 [L]
RewriteRule ^departments/active/([0-9]+)$ controllers/settings/departments/active.php?departmentsid=$1 [L]
RewriteRule ^departments/page/([0-9]+)$ controllers/settings/departments/page.php?start=$1 [L]
RewriteRule ^departments/search$ controllers/settings/departments/search.php [L]

RewriteRule ^company$ controllers/settings/company/company.php [L]
RewriteRule ^company/([0-9]+)$ controllers/settings/company/company.php?companyid=$1 [L]
RewriteRule ^company/active/([0-9]+)$ controllers/settings/company/active.php?companyid=$1 [L]
RewriteRule ^company/page/([0-9]+)$ controllers/settings/company/page.php?start=$1 [L]